
/*
    css stuff:
    background-image = the img used in the background!!
    font-family = the font used!!
*/

@font-face {
    font-family: TTYDfont;
    src: url(../PopHappiness.ttf);
}

a {
    text-decoration: none;
    font-weight: bold;
    transition: color .25s;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: disc; 
    list-style-position: inside;
    padding: 0 8px;
}

/* get h1 to h6 to their og sizes since i used reset.css D: */
h1 {
    font-size: 2em
}

h2 {
    font-size: 1.5em
}

h3 {
    font-size: 1.3em;
}

h5 {
    font-size: 0.8em;
}

h6 {
    font-size: 0.7em;
}

html {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    font-family: TTYDfont;
}

body {
    box-sizing: border-box;
    padding: 15px;
    min-height: 100vh;
    background-attachment: scroll fixed;
    transition: color .4s; /* i think it looks nice seeing the colors change when u change themes :D */
}

.themeSwitch {
    border: none;
    background: none;
    max-width: max-content;
}

.glass {
    display: inline-block;
    position: relative;
    width: max-content;
    height: min-content;
    border-radius: 16px;
}

.glass::before {
    content: "";
    border: inherit;
    border-radius: inherit;
    background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        transparent 30%,
        rgba(0, 0, 0, 0.25)
    );
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.mainWindowContent {
    margin: 8px;
    padding: 10px 15px;
    border-radius: 10px
}

.mainWindowContent::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.centerGlass {
    min-width: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

/*
    stuff related to the main page!
*/

#mainWindow, #statuscafe {
    width: 45vw;
    margin-inline: 15px;
}

#sonicHi { /* hi :D */
    height: 128px;
    float: right;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexColumn .glass {
    margin-bottom: 15px;
}

#coolLinks a {
    display: block;
}

#statuscafe-username {
    margin-bottom: .5em;
}

#statuscafe-content {
    margin-left: .25em;
}

/*
    stuff related to the projects page!
*/

#glassMain2TheSequel {
    width: 60%;
    margin: 0 15px;
}

/*
    copied from https://codedamn.com/news/frontend/how-to-put-image-and-text-side-by-side-in-html
*/
.imageDisplay {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px
}

.imageDisplay img {
    margin-right: 10px;
    border-radius: 10px;
}

.imageDisplay p {
    margin-left: 5px;
}