
@font-face {
    font-family: SpaceStation;
    src: url('../space-station.ttf')
}

@keyframes bg-loop {
    from {
        background-position: bottom;
    }

    to {
        background-position: top;
    }
}

body {
    font-size: 10px;
    font-family: SpaceStation;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: none;

    background-image: url("../img/bg.png");
    image-rendering: pixelated;
    background-size: 100vw auto;
    animation: bg-loop 60s infinite linear;

    color: white;
}
