
:root {
    --logo-color: #42bbc4;
}

@font-face {
    font-family: SpaceStation;
    src: url('../space-station.ttf')
}

@keyframes bg-loop {
    from {
        background-position: bottom;
    }

    to {
        background-position: top;
    }
}

body {
    font-size: 16px;
    font-family: SpaceStation;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: none;

    background-image: url("../img/bg.png");
    image-rendering: pixelated;
    background-size: 100vw auto;
    animation: bg-loop 60s infinite linear;

    color: var(--logo-color);
}

.vvvvvv-header {
    margin: 48px auto;

    min-width: min-content;
    width: fit-content;
    max-width: max-content;
}

.vvvvvv-bluetile {
    display: inline-block;
    border-image: url("../img/blue-tile.png") 2 2 2 2 fill / 6px 6px 6px 6px;
    border-image-repeat: repeat;
    padding: 8px 8px 8px 8px;
}

.vvvvvv-main {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;

    min-width: min-content;
    width: fit-content;
    max-width: fit-content;
}