name: Deploy to neocities

on:
  push:
    branches:
      - main
    paths:
      - 'web-src/**'

concurrency:
  group: deploy-to-neocities
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: "'build' the page"
      run: make
    
    - name: Deploy to neocities
      uses: bcomnes/deploy-to-neocities@v3
      with:
        api_key: ${{ secrets.NEOCITIES_API_TOKEN }}
        cleanup: false
        neocities_supporter: false
        preview_before_deploy: true
        dist_dir: build